<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Destination" type="System.Configuration.NameValueSectionHandler" />
    <!--<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />-->
  </configSections>
  <appSettings>
    <!--1. DB 연결(층별 수정필요)-->
    <!-- MS SQL DB Server Connecting String-->
    <!--<add key="HibernateConnectionString" value="Data Source=107.115.155.36;Initial Catalog=MB3ACS23;Persist Security Info=True;User ID=B2ACS2F01;Password=sdv1234!; Max Pool Size=300;Connection Timeout=120" />-->
    <!-- MS SQL Local DB Connecting String-->
    <!--<add key="HibernateConnectionString" value="Data Source=localhost;Initial Catalog=MB3ACS23;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />-->

    <!--Oracle Connecting String V2 2F-->
    <!--<add key="HibernateConnectionString" value="User ID = ACSMGR22; Password=SDV1234!; Data Source=//107.115.20.93:1623/MBACS_SVC;" />-->
    <!--Oracle Connecting String V2 1F-->
    <!--<add key="HibernateConnectionString" value="User ID = ACSMGR21; Password=SDV1234!; Data Source=//107.115.20.93:1623/MBACS_SVC;" />-->

    <!--Oracle Connecting String V1 2F (Failover : 107.126.10.95, 107.126.10.97) -->
    <!--<add key="HibernateConnectionString" value="User ID = ACSMGR12; Password=acsadmin9!; Data Source=//107.126.10.95:1623/MB3ACS_SVC;" />-->
    <!--<add key="HibernateConnectionString" value="User ID = ACSMGR12; Password=acsadmin9!; Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=tcp)(HOST=107.126.10.96)(PORT=1621))(ADDRESS=(PROTOCOL=tcp)(HOST=107.126.10.98)(PORT=1621))(ADDRESS=(PROTOCOL=tcp)(HOST=107.126.10.95)(PORT=1623))(ADDRESS=(PROTOCOL=tcp)(HOST=107.126.10.97)(PORT=1624)))(CONNECT_DATA=(SERVICE_NAME=MB3ACS_SVC)));" />-->
    <!--Oracle Connecting String V1 1F (Failover : 107.126.10.95, 107.126.10.97) -->
    <!--<add key="HibernateConnectionString" value="User ID = ACSMGR11; Password=acsadmin9!; Data Source=//107.126.10.95:1623/MB3ACS_SVC;" />-->
    <!--<add key="HibernateConnectionString" value="User ID = ACSMGR11; Password=acsadmin9!; Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=tcp)(HOST=107.126.10.96)(PORT=1621))(ADDRESS=(PROTOCOL=tcp)(HOST=107.126.10.98)(PORT=1621))(ADDRESS=(PROTOCOL=tcp)(HOST=107.126.10.95)(PORT=1623))(ADDRESS=(PROTOCOL=tcp)(HOST=107.126.10.97)(PORT=1624)))(CONNECT_DATA=(SERVICE_NAME=MB3ACS_SVC)));" />-->

    <!-- MS SQL Local DB Connecting String V1 2F(????, ??)-->
    <!--<add key="HibernateConnectionString" value="User ID = sa; Password=P@$$w0rd; Data Source=EGGPLANT-SEAN\SQLEXPRESS;Initial Catalog=ACSDB;Persist Security Info=True;" />-->
    <!-- SQLite DB Connecting String -->
    <add key="HibernateConnectionString" value="Data Source=ACSDB.sqlite" />
	<!--<add key="HibernateConnectionString" value="User ID = zxcv; Password=zxcv; Data Source=localhost;Initial Catalog=ACSDB;Persist Security Info=True;" />-->

    <!--2. AGENT 설정(해당 기능별 수정필요)-->
    <add key="acs.site.name" value="NAMUGA" />
    <!--V1, V2, SSM1D1F-->
    <add key="acs.application.name" value="CS01_P" />
    <!--..._P,   ..._S -->
    <add key="acs.hardware.type" value="PRIMARY" />
    <!--PRIMARY, SECONDARY -->
    <add key="acs.operation.system" value="Windows" />
    <!--control, host, trans, ei, ms, demon-->
    <add key="acs.process.type" value="host" /> 
    <!--rabbitmq, highway101, tibrv-->
    <add key="acs.process.msb" value="rabbitmq" />
    <add key="acs.process.base" value="database" />
    <add key="acs.process.servicepath" value="reload/trans" />
    
    <add key="log_del_date" value="7"></add>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="acs.database.type" value="SQLite" />
    <!-- Oracle : Oracle, Mssql : Mssql, SQLite : SQLite-->
  </appSettings>
  <Destination>
    <!--3. AGENT H101 연결 설정(층별 수정필요)-->
    <!-- V2 2F Inner StationX -->
    <!--<add key="server.domain.connecturl" value="107.115.155.36:10101;107.115.154.66:10101?pingInterval=1000&amp;pingTimeout=30000&amp;resendOnError=false&amp;fallbackToPrimary=false"/>-->
    <!-- V2 1F Inner StationX -->
    <!--<add key="server.domain.connecturl" value="107.115.148.85:10101?pingInterval=1000&amp;pingTimeout=30000&amp;resendOnError=false&amp;fallbackToPrimary=false"/>-->
    <!-- V1 2F Inner StationX -->
    <!--add key="server.domain.connecturl" value="107.115.21.102:10101;107.115.21.103:10101?pingInterval=1000&amp;pingTimeout=30000&amp;resendOnError=false&amp;fallbackToPrimary=false" /-->
    <!-- V1 1F Inner StationX -->
    <!-- <add key="server.domain.connecturl" value="107.115.21.100:10101;107.115.21.101:10101?pingInterval=1000&amp;pingTimeout=30000&amp;resendOnError=false&amp;fallbackToPrimary=false"/>-->
    <!--Local StationX-->
    <!--<add key="server.domain.connecturl" value="127.0.0.1:10101"/>-->
    <add key="server.domain.connecturl" value="localhost" />
    <add key="server.domain.username" value="guest" />
    <add key="server.domain.password" value="guest" />
    <add key="server.domain.stationmode" value="INTER" />


	      <!--factory.setUsername("uguest");
        factory.setPassword("pguest");-->
	  
    <!--4. ADS H101 연결 설정(동일, 수정불필요)-->
    <!--V2 ADS StationX-->
    <!--<add key="host.domain.connecturl" value="107.115.20.28:20101;107.115.20.29:20101?pingInterval=1000&amp;pingTimeout=30000&amp;resendOnError=false&amp;fallbackToPrimary=false"/>-->
    <!--V1 ADS StationX-->
    <!--add key="host.domain.connecturl" value="107.115.20.75:50101;107.115.20.76:50101?pingInterval=1000&amp;pingTimeout=30000&amp;resendOnError=false&amp;fallbackToPrimary=false" /-->
    <!--Local StationX-->
    <!--<add key="host.domain.connecturl" value="127.0.0.1:10101" />-->

    <add key="host.domain.connecturl" value="localhost" />
    <add key="host.domain.username" value="guest" />
    <add key="host.domain.password" value="guest" />
    <add key="host.domain.stationmode" value="INTER" />


    <!--5. AGENT Destnation Name 설정(층별 수정필요-->
    <!-- V2 2F ADS->TS -->
    <!--<add key="server.ts.host.listener.destination" value="BN1/BNL2/ACS/FACTORY2/ACSmgr_2F" />-->
    <!-- V2 1F ADS->TS -->
    <!--<add key="server.ts.host.listener.destination" value="BN1/BNL2/ACS/FACTORY2/ACSmgr_1F" />-->

    <!-- V1 2F ADS->TS -->
    <add key="server.ts.host.listener.destination" value="/BN1/BNE3/ACS/FACTORY1/ACSmgr_2F" />
    <!-- V1 1F ADS->TS -->
    <!--<add key="server.ts.host.listener.destination" value="/BN1/BNE3/ACS/FACTORY1/ACSmgr_1F" />-->


    <!--6. ADS Destnation Name 설정(동일, 수정불필요)-->
    <!-- V2 TS->ADS -->
    <!--<add key="server.ts.host.sender.destination" value="BN1/BNL2/MOS/CLIENT/ADSmgr" />-->
    <!-- V1 TS->ADS -->
    <add key="server.ts.host.sender.destination" value="/BN1/BNE3/MOS/CLIENT/MHSmgr" />

    <add key="server.daemon.control.listener.destination" value="${server.domain}/CONTROL/AGENT/@{application}" />
    <add key="server.daemon.ts.sender.destination" value="${server.domain}/DAEMON/LISTENER" />
    <add key="server.daemon.ui.sender.destination" value="${server.domain}/UI/SENDER.*" />
    <add key="server.control.control.listener.destination" value="${server.domain}/CONTROL/AGENT/@{application}" />
    <add key="server.control.ts.sender.destination" value="${server.domain}/CONTROL/AGENT/LISTENER" />
    <add key="server.control.ui.sender.destination" value="${server.domain}/UI/SENDER" />
    <add key="server.es.control.listener.destination" value="${server.domain}/CONTROL/AGENT/@{application}" />
    <add key="server.es.ts.listener.destination" value="${server.domain}/ES/@{application}" />
    <add key="server.es.ts.sender.destination" value="${server.domain}/ES/LISTENER" />
    <add key="server.ts.control.listener.destination" value="${server.domain}/CONTROL/AGENT/@{application}" />
    <add key="server.ts.es.listener.destination" value="${server.domain}/ES/LISTENER" />
    <add key="server.ts.ui.listener.destination" value="${server.domain}/UI/LISTENER" />
    <add key="server.ts.daemon.listener.destination" value="${server.domain}/DAEMON/LISTENER" />
    <add key="server.ts.ui.sender.destination" value="${server.domain}/UI/SENDER" />
    <add key="server.ts.es.sender.destination" value="${server.domain}/ES/SENDER" />
    <add key="server.control.xpathofmessagename.default" value="/MESSAGE/HEADER/MESSAGENAME" />
    <add key="server.ts.xpathofmessagename.default" value="/MESSAGE/HEADER/MESSAGENAME" />
    <add key="server.control.all.destination.prefix" value="${server.domain}/CONTROL/AGENT" />
    <add key="server.trans.host.message.mapping" value="config/@{site}/startup/message/host/nanotrans-message-host-mapping.xml" />
    <add key="server.trans.host.message.receive" value="config/@{site}/startup/message/host/nanotrans-message-host-receive.xml" />
    <add key="server.trans.host.message.send" value="config/@{site}/startup/message/host/nanotrans-message-host-send.xml" />
    <add key="server.trans.host.usedatafield" value="false" />
    <add key="server.trans.xpathofmessagename.host" value="/Msg/Command" />
    <!--<add key="server.domain" value="ACS/SDV_2F" />-->
    <add key="server.domain" value="VM/DEMO" />
    <add key="message.xpath.name.commandid" value="/MESSAGE/DATA//JOBID" />
    <add key="transfermessage.xpath.name.sourcemachine" value="/MESSAGE/DATA//SOURCELOC" />
    <add key="transfermessage.xpath.name.sourceunit" value="/MESSAGE/DATA//SOURCEPORTID" />
    <add key="transfermessage.xpath.name.destmachine" value="/MESSAGE/DATA//FINALLOC" />
    <add key="transfermessage.xpath.name.destunit" value="/MESSAGE/DATA//FINALPORTID" />
    <!--//# message-->
    <add key="message.node.name.transportcommandid" value="TRANSPORTCOMMANDID" />
    <add key="message.node.name.commandid" value="COMMANDID" />
    <add key="message.node.name.stageid" value="STAGEID" />
    <add key="message.node.name.carrierid" value="CARRIERID" />
    <add key="message.node.name.carriername" value="CARRIERNAME" />
    <add key="message.node.name.carrier" value="CARRIER" />
    <add key="message.node.name.carrierloc" value="CARRIERLOC" />
    <add key="message.node.name.unitname" value="UNITNAME" />
    <add key="message.node.name.unitid" value="UNITID" />
    <add key="message.node.name.vehicleid" value="VEHICLEID" />
    <!--//#//#-->
    <add key="message.xpath.name.transportcommandid" value="/MESSAGE/DATA//JOBID" />
    <add key="message.xpath.name.stageid" value="/MESSAGE/DATA/STAGEID | /MESSAGE/DATA//STAGEID" />
    <add key="message.xpath.name.carrierid" value="/MESSAGE/DATA/CARRIERID | /MESSAGE/DATA//CARRIERID | /MESSAGE/DATA//CARRIER" />
    <add key="message.xpath.name.carriername" value="/MESSAGE/DATA/CARRIERID | /MESSAGE/DATA/CARRIERNAME | /MESSAGE/DATA//CARRIERID | /MESSAGE/DATA//CARRIERNAME" />
    <add key="message.xpath.name.carrier" value="/MESSAGE/DATA/CARRIERNAME | /MESSAGE/DATA//CARRIERNAME" />
    <add key="message.xpath.name.carrierloc" value="/MESSAGE/DATA/CARRIERLOC | /MESSAGE/DATA//CARRIERLOC | /MESSAGE/DATA//UNITID" />
    <add key="message.xpath.name.unitname" value="/MESSAGE/DATA/UNITNAME | /MESSAGE/DATA//UNITNAME" />
    <add key="message.xpath.name.unitid" value="/MESSAGE/DATA/UNITID | /MESSAGE/DATA/STOCKERUNITID | /MESSAGE/DATA/VEHICLEID | /MESSAGE/DATA//UNITID | /MESSAGE/DATA//STOCKERUNITID | /MESSAGE/DATA//VEHICLEID" />
    <add key="message.xpath.name.vehicleid" value="/MESSAGE/DATA/VEHICLEID | /MESSAGE/DATA//VEHICLEID" />
    <add key="message.xpath.name.currentunit" value="/MESSAGE/DATA//CARRIERLOC | /MESSAGE/DATA//VEHICLEID | /MESSAGE/DATA//STOCKERCRANEID | /MESSAGE/DATA/UNITNAME | /MESSAGE/DATA//UNITNAME | /MESSAGE/DATA//PORTID" />
    <!--//# transferMessage-->
    <add key="transfermessage.node.name.priority" value="PRIORITY" />
    <add key="transfermessage.node.name.lotid" value="LOTID" />
    <add key="transfermessage.node.name.carriertype" value="CARRIERTYPE" />
    <add key="transfermessage.node.name.carrierstate" value="CARRIERSTATE" />
    <add key="transfermessage.node.name.carrierkind" value="CARRIERKIND" />
    <add key="transfermessage.node.name.carrierzonename" value="CARRIERZONENAME" />
    <add key="transfermessage.node.name.destmachinename" value="DESTMACHINENAME" />
    <add key="transfermessage.node.name.destmachine" value="DESTMACHINE" />
    <add key="transfermessage.node.name.destunitname" value="DESTUNITNAME" />
    <add key="transfermessage.node.name.destunit" value="DESTUNIT" />
    <add key="transfermessage.node.name.destcontainername" value="DESTCONTAINERNAME" />
    <add key="transfermessage.node.name.destcontainer" value="DESTCONTAINER" />
    <add key="transfermessage.node.name.destslotname" value="DESTSLOTNAME" />
    <add key="transfermessage.node.name.destslot" value="DESTSLOT" />
    <add key="transfermessage.node.name.dest" value="DEST" />
    <add key="transfermessage.node.name.sourcemachinename" value="SOURCEMACHINENAME" />
    <add key="transfermessage.node.name.sourcemachine" value="SOURCEMACHINE" />
    <add key="transfermessage.node.name.sourceunit" value="SOURCEUNIT" />
    <add key="transfermessage.node.name.sourcecontainer" value="SOURCECONTAINER" />
    <add key="transfermessage.node.name.sourceslot" value="SOURCESLOT" />
    <add key="transfermessage.node.name.source" value="SOURCE" />
    <add key="transfermessage.node.name.fromunitname" value="FROMUNITNAME" />
    <add key="transfermessage.node.name.tounitname" value="TOUNITNAME" />
    <add key="transfermessage.node.name.stockercraneid" value="STOCKERCRANEID" />
    <add key="transfermessage.xpath.name.priority" value="/MESSAGE/DATA/PRIORITY | /MESSAGE/DATA//PRIORITY" />
    <add key="transfermessage.xpath.name.lotid" value="/MESSAGE/DATA/LOTID | /MESSAGE/DATA//LOTID" />
    <add key="transfermessage.xpath.name.carriertype" value="/MESSAGE/DATA/CARRIERTYPE | /MESSAGE/DATA//CARRIERTYPE" />
    <add key="transfermessage.xpath.name.carrierstate" value="/MESSAGE/DATA/CARRIERSTATE | /MESSAGE/DATA//CARRIERSTATE" />
    <add key="transfermessage.xpath.name.carrierkind" value="/MESSAGE/DATA/CARRIERKIND" />
    <add key="transfermessage.xpath.name.carrierzonename" value="/MESSAGE/DATA/CARRIERZONENAME | /MESSAGE/DATA//CARRIERZONENAME" />
    <add key="transfermessage.xpath.name.sourcemachinename" value="/MESSAGE/DATA//SOURCEMACHINENAME" />
    <add key="transfermessage.xpath.name.sourceslot" value="/MESSAGE/DATA/SOURCESLOT | /MESSAGE/DATA//SOURCESLOT" />
    <add key="transfermessage.xpath.name.destmachinename" value="/MESSAGE/DATA//DESTMACHINENAME" />
    <add key="transfermessage.xpath.name.destcontainername" value="/MESSAGE/DATA/DESTCONTAINERNAME | /MESSAGE/DATA//DESTCONTAINERNAME" />
    <add key="transfermessage.xpath.name.destslotname" value="/MESSAGE/DATA/DESTSLOTNAME | /MESSAGE/DATA//DESTSLOTNAME" />
    <add key="transfermessage.xpath.name.destunitname" value="/MESSAGE/DATA/DESTUNIT | /MESSAGE/DATA//DESTUNIT | /MESSAGE/DATA//DEST | /MESSAGE/DATA//DESTPORT" />
    <add key="transfermessage.xpath.name.stockercraneid" value="/MESSAGE/DATA/STOCKERCRANEID | /MESSAGE/DATA//STOCKERCRANEID" />
    <!--//# transportMessage-->
    <add key="transportmessage.node.name.transportjobid" value="TRANSPORTJOBID" />
    <add key="transportmessage.xpath.name.transportjobid" value="/MESSAGE/DATA/TRANSPORTJOBID" />
    <!--//# transportDestChangeMessage-->
    <add key="transportdestchangemessage.node.name.newdestmachinename" value="NEWDESTMACHINENAME" />
    <add key="transportdestchangemessage.node.name.newdestunitname" value="NEWDESTUNITNAME" />
    <add key="transportdestchangemessage.node.name.newdesttype" value="NEWDESTTYPE" />
    <add key="transportdestchangemessage.xpath.name.newdestmachinename" value="/MESSAGE/DATA/NEWDESTMACHINENAME" />
    <add key="transportdestchangemessage.xpath.name.newdestunitname" value="/MESSAGE/DATA/NEWDESTUNITNAME" />
    <add key="transportdestchangemessage.xpath.name.newdesttype" value="/MESSAGE/DATA/NEWDESTTYPE" />
    <!--//# retransportCommandMessage-->
    <add key="retransportcommandmessage.node.name.transportcommandids" value="TRANSPORTCOMMANDIDS" />
    <add key="retransportcommandmessage.xpath.name.transportcommandids" value="/MESSAGE/DATA/TRANSPORTCOMMANDIDS" />
    <!--//# carrierMessage-->
    <add key="carriermessage.node.name.porttype" value="PORTTYPE" />
    <add key="carriermessage.node.name.handofftype" value="HANDOFFTYPE" />
    <add key="carriermessage.node.name.holded" value="HOLDED" />
    <add key="carriermessage.node.name.containername" value="CONTAINERNAME" />
    <add key="carriermessage.node.name.slotnumber" value="SLOTNUMBER" />
    <add key="carriermessage.xpath.name.porttype" value="/MESSAGE/DATA/PORTTYPE | /MESSAGE/DATA//PORTTYPE" />
    <add key="carriermessage.xpath.name.handofftype" value="/MESSAGE/DATA/HANDOFFTYPE | /MESSAGE/DATA//HANDOFFTYPE" />
    <add key="carriermessage.xpath.name.holded" value="/MESSAGE/DATA/HOLDED | /MESSAGE/DATA//HOLDED" />
    <add key="carriermessage.xpath.name.containername" value="/MESSAGE/DATA/CONTAINERNAME | /MESSAGE/DATA//CONTAINERNAME" />
    <add key="carriermessage.xpath.name.slotnumber" value="/MESSAGE/DATA/SLOTNUMBER | /MESSAGE/DATA//SLOTNUMBER" />
    <!--//# recoveryCarrierMessage-->
    <add key="recoverycarriermessage.node.name.carriernames" value="CARRIERNAMES" />
    <add key="recoverycarriermessage.xpath.name.carriernames" value="/MESSAGE/DATA/CARRIERNAMES" />
    <!--//# commandMessage-->
    <add key="commandmessage.node.name.resultcode" value="RESULTCODE" />
    <add key="commandmessage.node.name.nexttounit" value="NEXTTOUNIT" />
    <add key="commandmessage.xpath.name.resultcode" value="/MESSAGE/DATA//RESULTCODE" />
    <add key="commandmessage.xpath.name.nexttounit" value="/MESSAGE/DATA//NEXTTOUNIT" />
    <!--//# craneMessage-->
    <add key="cranemessage.node.name.cranestate" value="CRANESTATE" />
    <add key="cranemessage.xpath.name.cranestate" value="/MESSAGE/DATA//CRANESTATE" />
    <!--//# portMessage-->
    <add key="portmessage.node.name.portid" value="PORTID" />
    <add key="portmessage.node.name.inouttype" value="INOUTTYPE" />
    <add key="portmessage.node.name.portinouttype" value="PORTINOUTTYPE" />
    <add key="portmessage.node.name.accessmode" value="ACCESSMODE" />
    <add key="portmessage.node.name.substate" value="SUBSTATE" />
    <add key="portmessage.node.name.lotinfo" value="LOTINFO" />
    <add key="portmessage.xpath.name.portid" value="/MESSAGE/DATA/PORTID | /MESSAGE/DATA//PORTID" />
    <add key="portmessage.xpath.name.inouttype" value="/MESSAGE/DATA/INOUTTYPE | /MESSAGE/DATA/PORTINOUTTYPE | /MESSAGE/DATA//INOUTTYPE | /MESSAGE/DATA//PORTINOUTTYPE" />
    <add key="portmessage.xpath.name.portinouttype" value="/MESSAGE/DATA/PORTINOUTTYPE | /MESSAGE/DATA/INOUTTYPE | /MESSAGE/DATA//PORTINOUTTYPE | /MESSAGE/DATA//INOUTTYPE" />
    <add key="portmessage.xpath.name.accessmode" value="/MESSAGE/DATA/*/*/*/*/ACCESSMODE | /MESSAGE/DATA//ACCESSMODE | /MESSAGE/DATA/*/*/*/*/PORTACCESSMODE | /MESSAGE/DATA//PORTACCESSMODE" />
    <add key="portmessage.xpath.name.substate" value="/MESSAGE/DATA/SUBSTATE | /MESSAGE/DATA//SUBSTATE" />
    <add key="portmessage.xpath.name.lotinfo" value="/MESSAGE/DATA/LOTINFO | /MESSAGE/DATA//LOTINFO" />
    <!--//# vehicleMessage-->
    <add key="vehiclemessage.node.name.transferport" value="TRANSFERPORT" />
    <add key="vehiclemessage.node.name.vehiclestatus" value="VEHICLESTATUS" />
    <add key="vehiclemessage.xpath.name.transferport" value="/MESSAGE/DATA//TRANSFERPORT" />
    <add key="vehiclemessage.xpath.name.vehiclestatus" value="/MESSAGE/DATA//VEHICLESTATUS" />
    <!--//# zoneMessage-->
    <add key="zonemessage.node.name.zonename" value="ZONENAME" />
    <add key="zonemessage.node.name.zonecapacity" value="ZONECAPACITY" />
    <add key="zonemessage.xpath.name.zonename" value="/MESSAGE/DATA//ZONENAME" />
    <add key="alarmmessage.node.name.errorid" value="ERRORID" />
    <add key="alarmmessage.node.name.errornumber" value="ERRORNUMBER" />
    <add key="alarmmessage.node.name.unitstate" value="UNITSTATE" />
    <add key="alarmmessage.node.name.recoveryoptions" value="RECOVERYOPTIONS" />
    <add key="alarmmessage.xpath.name.errorid" value="/MESSAGE/DATA/ERRORID | /MESSAGE/DATA//ERRORID" />
    <add key="alarmmessage.xpath.name.errornumber" value="/MESSAGE/DATA/ERRORNUMBER | /MESSAGE/DATA//ERRORNUMBER" />
    <add key="alarmmessage.xpath.name.unitstate" value="/MESSAGE/DATA/UNITSTATE | MESSAGE/DATA/STOCKERUNITSTATE | MESSAGE/DATA/VEHICLESTATE | /MESSAGE/DATA//UNITSTATE | MESSAGE/DATA//STOCKERUNITSTATE | MESSAGE/DATA//VEHICLESTATE" />
    <add key="alarmmessage.xpath.name.recoveryoptions" value="/MESSAGE/DATA/RECOVERYOPTIONS | /MESSAGE/DATA//RECOVERYOPTIONS" />
    <!--//# alarmReportMessage-->
    <add key="alarmreportmessage.node.name.alarmcode" value="ALARMCODE" />
    <add key="alarmreportmessage.node.name.alarmid" value="ALARMID" />
    <add key="alarmreportmessage.node.name.alarmtext" value="ALARMTEXT" />
    <add key="alarmreportmessage.xpath.name.alarmcode" value="/MESSAGE/DATA//ALARMCODE | /MESSAGE/DATA//ALCD" />
    <add key="alarmreportmessage.xpath.name.alarmid" value="/MESSAGE/DATA//ALARMID | /MESSAGE/DATA//ALID" />
    <add key="alarmreportmessage.xpath.name.alarmtext" value="/MESSAGE/DATA//ALARMTEXT | /MESSAGE/DATA//ALTX" />
    <!--//# unitAlarmMessage-->
    <add key="unitalarmmessage.node.name.currentunitposition" value="CURRENTUNITPOSITION" />
    <add key="unitalarmmessage.node.name.unitstateclearable" value="UNITSTATECLEARABLE" />
    <add key="unitalarmmessage.xpath.name.currentunitposition" value="/MESSAGE/DATA//CURRENTUNITPOSITION" />
    <add key="unitalarmmessage.xpath.name.unitstateclearable" value="/MESSAGE/DATA//UNITSTATECLEARABLE" />
    <!--//# carrierIdReadMessage-->
    <add key="carrieridreadmessage.node.name.idreadstate" value="IDREADSTATUS" />
    <add key="carrieridreadmessage.xpath.name.idreadstate" value="/MESSAGE/DATA//IDREADSTATUS" />
    <!--//# informMessage-->
    <add key="informmessage.node.name.terminalid" value="TERMINALID" />
    <add key="informmessage.node.name.information" value="INFORMATION" />
    <add key="informmessage.xpath.name.terminalid" value="/MESSAGE/DATA//TERMINALID" />
    <add key="informmessage.xpath.name.information" value="/MESSAGE/DATA//INFORMATION" />
    <!--//# operatorInitiatedActionMessage-->
    <add key="operatorinitiatedactionmessage.node.name.commandtype" value="COMMANDTYPE" />
    <add key="operatorinitiatedactionmessage.xpath.name.commandtype" value="/MESSAGE/DATA//COMMANDTYPE" />
    <!--//# pnpMessage-->
    <add key="pnpmessage.node.name.pnpid" value="PNPID" />
    <add key="pnpmessage.xpath.name.pnpid" value="/MESSAGE/DATA//PNPID" />
    <!--//# shuttleMessage-->
    <add key="shuttlemessage.node.name.shuttleid" value="SHUTTLEID" />
    <add key="shuttlemessage.node.name.location" value="LOCATION" />
    <add key="shuttlemessage.xpath.name.shuttleid" value="/MESSAGE/DATA//SHUTTLEID" />
    <add key="shuttlemessage.xpath.name.location" value="/MESSAGE/DATA//LOCATION" />
    <!--//# tscStateMessage-->
    <add key="tscstatemessage.node.name.tscstate" value="TSCSTATE" />
    <add key="tscstatemessage.xpath.name.tscstate" value="/MESSAGE/DATA//TSCSTATE" />
    <!--//# enhancedActiveZonesMessage-->
    <add key="enhancedactivezonesmessage.node.name.enhancedactivezones" value="ENHANCEDACTIVEZONES" />
    <add key="enhancedactivezonesmessage.node.name.enhancedactivezoneszonename" value="ZONENAME" />
    <add key="enhancedactivezonesmessage.node.name.enhancedactivezoneszonecapacity" value="ZONECAPACITY" />
    <add key="enhancedactivezonesmessage.node.name.enhancedactivezoneszonesize" value="ZONESIZE" />
    <add key="enhancedactivezonesmessage.node.name.enhancedactivezoneszonetype" value="ZONETYPE" />
    <add key="enhancedactivezonesmessage.xpath.name.enhancedactivezones" value="/MESSAGE/DATA/*/*/ENHANCEDACTIVEZONES | /MESSAGE/DATA//ENHANCEDACTIVEZONES" />
    <add key="enhancedactivezonesmessage.xpath.name.enhancedactivezoneszonename" value="/MESSAGE/DATA//ENHANCEDACTIVEZONES/*/ZONENAME" />
    <add key="enhancedactivezonesmessage.xpath.name.enhancedactivezoneszonecapacity" value="/MESSAGE/DATA//ENHANCEDACTIVEZONES/*/ZONECAPACITY" />
    <add key="enhancedactivezonesmessage.xpath.name.enhancedactivezoneszonesize" value="/MESSAGE/DATA//ENHANCEDACTIVEZONES/*/ZONESIZE" />
    <add key="enhancedactivezonesmessage.xpath.name.enhancedactivezoneszonetype" value="/MESSAGE/DATA//ENHANCEDACTIVEZONES/*/ZONETYPE" />
    <!--//# enhancedAlarmsMessage-->
    <add key="enhancedalarmsmessage.node.name.enhancedalarmalarmset" value="ALARMSET" />
    <add key="enhancedalarmsmessage.node.name.enhancedalarmalarmid" value="ALARMID" />
    <add key="enhancedalarmsmessage.node.name.enhancedalarmalarmcode" value="ALARMCODE" />
    <add key="enhancedalarmsmessage.node.name.enhancedalarmalarmtext" value="ALARMTEXT" />
    <add key="enhancedalarmsmessage.xpath.name.enhancedalarmalarmset" value="/MESSAGE/DATA//ALARMIDLIST | /MESSAGE/DATA/*/*/ALARMSET | /MESSAGE/DATA//ALARMSET | /MESSAGE/DATA/*/*/ALARMSSET | /MESSAGE/DATA//ALARMSSET" />
    <add key="enhancedalarmsmessage.xpath.name.enhancedalarmalarmid" value="/MESSAGE/DATA/*/*/ENHANCEDALARMS/ALARMID | /MESSAGE/DATA/*/*/ENHANCEDALARMS/*/ALARMID | /MESSAGE/DATA//ALID" />
    <add key="enhancedalarmsmessage.xpath.name.enhancedalarmalarmcode" value="/MESSAGE/DATA/*/*/ENHANCEDALARMS/ALARMCODE | /MESSAGE/DATA/*/*/ENHANCEDALARMS/*/ALARMCODE" />
    <add key="enhancedalarmsmessage.xpath.name.enhancedalarmalarmtext" value="/MESSAGE/DATA/*/*/ENHANCEDALARMS/ALARMTEXT | /MESSAGE/DATA/*/*/ENHANCEDALARMS/*/ALARMTEXT" />
    <!--//# enhancedUnitAlarmsMessage-->
    <add key="enhancedunitalarmsmessage.node.name.enhancedunitalarms" value="ENHANCEDUNITALARMS" />
    <add key="enhancedunitalarmsmessage.node.name.enhancedunitalarmsunitid" value="UNITID" />
    <add key="enhancedunitalarmsmessage.node.name.enhancedunitalarmsalarmid" value="ALARMID" />
    <add key="enhancedunitalarmsmessage.node.name.enhancedunitalarmsalarmcode" value="ALARMCODE" />
    <add key="enhancedunitalarmsmessage.node.name.enhancedunitalarmsalarmtext" value="ALARMTEXT" />
    <add key="enhancedunitalarmsmessage.node.name.enhancedunitalarmscurrentunitposition" value="CURRENTUNITPOSITION" />
    <add key="enhancedunitalarmsmessage.node.name.enhancedunitalarmsunitstateclearable" value="UNITSTATECLEARABLE" />
    <add key="enhancedunitalarmsmessage.xpath.name.enhancedunitalarms" value="/MESSAGE/DATA/*/*/ENHANCEDUNITALARMS | /MESSAGE/DATA//ENHANCEDUNITALARMS" />
    <add key="enhancedunitalarmsmessage.xpath.name.enhancedunitalarmsunitid" value="/MESSAGE/DATA//ENHANCEDUNITALARMS/*/UNITID" />
    <add key="enhancedunitalarmsmessage.xpath.name.enhancedunitalarmsalarmid" value="/MESSAGE/DATA//ENHANCEDUNITALARMS/*/ALARMID" />
    <add key="enhancedunitalarmsmessage.xpath.name.enhancedunitalarmsalarmcode" value="/MESSAGE/DATA//ENHANCEDUNITALARMS/*/ALARMCODE" />
    <add key="enhancedunitalarmsmessage.xpath.name.enhancedunitalarmsalarmtext" value="/MESSAGE/DATA//ENHANCEDUNITALARMS/*/ALARMTEXT" />
    <add key="enhancedunitalarmsmessage.xpath.name.enhancedunitalarmscurrentunitposition" value="/MESSAGE/DATA//ENHANCEDUNITALARMS/*/CURRENTUNITPOSITION" />
    <add key="enhancedunitalarmsmessage.xpath.name.enhancedunitalarmsunitstateclearable" value="/MESSAGE/DATA//ENHANCEDUNITALARMS/*/UNITSTATECLEARABLE" />
    <!--//# enhancedCarriersMessage-->
    <add key="enhancedcarriersmessage.node.name.enhancedcarriers" value="ENHANCEDCARRIERS" />
    <add key="enhancedcarriersmessage.node.name.enhancedcarrierscarrierid" value="CARRIERID" />
    <add key="enhancedcarriersmessage.node.name.enhancedcarriersvehicleid" value="VEHICLEID" />
    <add key="enhancedcarriersmessage.node.name.enhancedcarrierscarrierloc" value="CARRIERLOC" />
    <add key="enhancedcarriersmessage.node.name.enhancedcarriersinstalltime" value="INSTALLTIME" />
    <add key="enhancedcarriersmessage.node.name.enhancedcarrierscarrierzonename" value="CARRIERZONENAME" />
    <add key="enhancedcarriersmessage.node.name.enhancedcarrierscarrierstate" value="CARRIERSTATE" />
    <add key="enhancedcarriersmessage.node.name.enhancedcarrierscarriertype" value="CARRIERTYPE" />
    <add key="enhancedcarriersmessage.xpath.name.enhancedcarriers" value="/MESSAGE/DATA/*/*/ENHANCEDCARRIERS | /MESSAGE/DATA/*/ENHANCEDCARRIERS | /MESSAGE/DATA//ENHANCEDCARRIERS | /MESSAGE/DATA//ACTIVECARRIERS" />
    <add key="enhancedcarriersmessage.xpath.name.enhancedcarrierscarrierid" value="/MESSAGE/DATA//ENHANCEDCARRIERS/*/CARRIERID" />
    <add key="enhancedcarriersmessage.xpath.name.enhancedcarriersvehicleid" value="/MESSAGE/DATA//ENHANCEDCARRIERS/*/VEHICLEID" />
    <add key="enhancedcarriersmessage.xpath.name.enhancedcarrierscarrierloc" value="/MESSAGE/DATA//ENHANCEDCARRIERS/*/CARRIERLOC" />
    <add key="enhancedcarriersmessage.xpath.name.enhancedcarriersinstalltime" value="/MESSAGE/DATA//ENHANCEDCARRIERS/*/INSTALLTIME" />
    <add key="enhancedcarriersmessage.xpath.name.enhancedcarrierscarrierzonename" value="/MESSAGE/DATA//ENHANCEDCARRIERS/*/CARRIERZONENAME" />
    <add key="enhancedcarriersmessage.xpath.name.enhancedcarrierscarrierstate" value="/MESSAGE/DATA//ENHANCEDCARRIERS/*/CARRIERSTATE" />
    <add key="enhancedcarriersmessage.xpath.name.enhancedcarrierscarriertype" value="/MESSAGE/DATA//ENHANCEDCARRIERS/*/CARRIERTYPE" />
    <!--//# enhancedTransfersMessage-->
    <add key="enhancedtransfersmessage.node.name.enhancedtransfers" value="ENHANCEDTRANSFERS" />
    <add key="enhancedtransfersmessage.node.name.enhancedtransferstransferstate" value="TRANSFERSTATE" />
    <add key="enhancedtransfersmessage.node.name.enhancedtransferscommandid" value="COMMANDID" />
    <add key="enhancedtransfersmessage.node.name.enhancedtransferspriority" value="PRIORITY" />
    <add key="enhancedtransfersmessage.node.name.enhancedtransfersreplace" value="REPLACE" />
    <add key="enhancedtransfersmessage.node.name.enhancedtransferscarrierId" value="CARRIERID" />
    <add key="enhancedtransfersmessage.node.name.enhancedtransferssource" value="SOURCE" />
    <add key="enhancedtransfersmessage.node.name.enhancedtransfersdest" value="DEST" />
    <add key="enhancedtransfersmessage.node.name.enhancedtransferssourceport" value="SOURCEPORT" />
    <add key="enhancedtransfersmessage.node.name.enhancedtransfersdestport" value="DESTPORT" />
    <add key="enhancedtransfersmessage.xpath.name.enhancedtransfers" value="/MESSAGE/DATA//ENHANCEDTRANSFERS" />
    <add key="enhancedtransfersmessage.xpath.name.enhancedtransferstransferstate" value="/MESSAGE/DATA//ENHANCEDTRANSFERS/*/TRANSFERSTATE" />
    <add key="enhancedtransfersmessage.xpath.name.enhancedtransferscommandid" value="/MESSAGE/DATA//ENHANCEDTRANSFERS/*/*/COMMANDID" />
    <add key="enhancedtransfersmessage.xpath.name.enhancedtransferspriority" value="/MESSAGE/DATA//ENHANCEDTRANSFERS/*/*/PRIORITY" />
    <add key="enhancedtransfersmessage.xpath.name.enhancedtransfersreplace" value="/MESSAGE/DATA//ENHANCEDTRANSFERS/*/*/REPLACE" />
    <add key="enhancedtransfersmessage.xpath.name.enhancedtransferscarrierId" value="/MESSAGE/DATA//ENHANCEDTRANSFERS/*/*/*/CARRIERID | /MESSAGE/DATA//ENHANCEDTRANSFERS/*/*/CARRIERID" />
    <add key="enhancedtransfersmessage.xpath.name.enhancedtransferssource" value="/MESSAGE/DATA//ENHANCEDTRANSFERS/*/*/SOURCEPORT | /MESSAGE/DATA//ENHANCEDTRANSFERS/*/*/CARRIERLOC" />
    <add key="enhancedtransfersmessage.xpath.name.enhancedtransfersdest" value="/MESSAGE/DATA//ENHANCEDTRANSFERS/*/*/DESTPORT | /MESSAGE/DATA//ENHANCEDTRANSFERS/*/*/DEST" />
    <!--//# enhancedVehiclesMessage-->
    <add key="enhancedvehiclesmessage.node.name.enhancedvehicles" value="ENHANCEDVEHICLES" />
    <add key="enhancedvehiclesmessage.node.name.enhancedvehiclesvehicleid" value="VEHICLEID" />
    <add key="enhancedvehiclesmessage.node.name.enhancedvehiclesvehiclestate" value="VEHICLESTATE" />
    <add key="enhancedvehiclesmessage.node.name.enhancedvehiclesvehiclestatus" value="VEHICLESTATUS" />
    <add key="enhancedvehiclesmessage.node.name.enhancedvehiclesvehiclelocation" value="VEHICLELOCATION" />
    <add key="enhancedvehiclesmessage.xpath.name.enhancedvehicles" value="/MESSAGE/DATA/*/ENHANCEDVEHICLES " />
    <add key="enhancedvehiclesmessage.xpath.name.enhancedvehiclesvehicleid" value="/MESSAGE/DATA/*/ACTIVEVEHICLES/ACTIVEVEHICLEINFO/VEHICLEID" />
    <add key="enhancedvehiclesmessage.xpath.name.enhancedvehiclesvehiclestate" value="/MESSAGE/DATA/*/ACTIVEVEHICLES/ACTIVEVEHICLEINFO/VEHICLESTATE" />
    <add key="enhancedvehiclesmessage.xpath.name.enhancedvehiclesvehiclestatus" value="/MESSAGE/DATA/*/ACTIVEVEHICLES/ACTIVEVEHICLEINFO/VEHICLESTATUS" />
    <add key="enhancedvehiclesmessage.xpath.name.enhancedvehiclesvehiclelocation" value="/MESSAGE/DATA/*/ACTIVEVEHICLES/ACTIVEVEHICLEINFO/VEHICLELOCATION" />
    <!--//# enhancedPortsMessage-->
    <add key="enhancedportsmessage.node.name.enhancedports" value="ENHANCEDPORTS" />
    <add key="enhancedportsmessage.node.name.enhancedportsportid" value="PORTID" />
    <add key="enhancedportsmessage.node.name.enhancedportsstate" value="PORTTRANSFERSTATE" />
    <add key="enhancedportsmessage.node.name.enhancedportssubstate" value="SUBSTATE" />
    <add key="enhancedportsmessage.node.name.enhancedportsportaccessmode" value="PORTACCESSMODE" />
    <add key="enhancedportsmessage.node.name.enhancedportsportinouttype" value="PORTINOUTTYPE" />
    <add key="enhancedportsmessage.node.name.enhancedportsportprocessingstate" value="PORTPROCESSINGSTATE" />
    <add key="enhancedportsmessage.node.name.enhancedportsuserfreader" value="IDREADER" />
    <add key="enhancedportsmessage.xpath.name.enhancedports" value="/MESSAGE/DATA/*/CURRENTPORTSTATES | /MESSAGE/DATA/*/ENHANCEDPORTS" />
    <add key="enhancedportsmessage.xpath.name.enhancedportsportid" value="/MESSAGE/DATA/*/CURRENTPORTSTATES/PORTINFO/PORTID | /MESSAGE/DATA/*/ENHANCEDPORTS/ENHANCEDPORTINFO/PORTID" />
    <add key="enhancedportsmessage.xpath.name.enhancedportsstate" value="/MESSAGE/DATA/*/CURRENTPORTSTATES/PORTINFO/STATE | /MESSAGE/DATA/*/CURRENTPORTSTATES/PORTINFO/PORTTRANSFERSTATE | /MESSAGE/DATA/*/ENHANCEDPORTS/ENHANCEDPORTINFO/PORTTRANSFERSTATE" />
    <add key="enhancedportsmessage.xpath.name.enhancedportssubstate" value="/MESSAGE/DATA/*/CURRENTPORTSTATES/PORTINFO/SUBSTATE" />
    <add key="enhancedportsmessage.xpath.name.enhancedportsportaccessmode" value="/MESSAGE/DATA/*/CURRENTPORTSTATES/PORTINFO/PORTACCESSMODE" />
    <add key="enhancedportsmessage.xpath.name.enhancedportsportinouttype" value="/MESSAGE/DATA/*/CURRENTPORTSTATES/PORTINFO/PORTINOUTTYPE" />
    <add key="enhancedportsmessage.xpath.name.enhancedportsportprocessingstate" value="/MESSAGE/DATA/*/CURRENTPORTSTATES/PORTINFO/PORTPROCESSINGSTATE" />
    <add key="enhancedportsmessage.xpath.name.enhancedportsuserfreader" value="/MESSAGE/DATA/*/CURRENTPORTSTATES/PORTINFO/IDREADER" />
    <!--//# enhancedShelvesMessage-->
    <add key="enhancedshelvesmessage.node.name.enhancedshelves" value="ENHANCEDSHELVES" />
    <add key="enhancedshelvesmessage.node.name.enhancedshelvesshelfname" value="SHELFNAME" />
    <add key="enhancedshelvesmessage.node.name.enhancedshelvesshelfstate" value="SHELFSTATE" />
    <add key="enhancedshelvesmessage.node.name.enhancedshelvesshelfstatus" value="SHELFSTATUS" />
    <add key="enhancedshelvesmessage.xpath.name.enhancedshelves" value="/MESSAGE/DATA/*/*/ENHANCEDSHELVES | /MESSAGE/DATA//ENHANCEDSHELVES" />
    <add key="enhancedshelvesmessage.xpath.name.enhancedshelvesshelfname" value="/MESSAGE/DATA//ENHANCEDSHELVES/*/SHELFNAME" />
    <add key="enhancedshelvesmessage.xpath.name.enhancedshelvesshelfstate" value="/MESSAGE/DATA//ENHANCEDSHELVES/*/SHELFSTATE" />
    <add key="enhancedshelvesmessage.xpath.name.enhancedshelvesshelfstatus" value="/MESSAGE/DATA//ENHANCEDSHELVES/*/SHELFSTATUS" />
    <!--//# enhancedShuttlesMessage-->
    <add key="enhancedshuttlesmessage.node.name.enhancedshuttles" value="ENHANCEDSHUTTLES" />
    <add key="enhancedshuttlesmessage.node.name.enhancedshuttlesliftername" value="LIFTERNAME" />
    <add key="enhancedshuttlesmessage.node.name.enhancedshuttlesshuttlename" value="SHUTTLEID" />
    <add key="enhancedshuttlesmessage.node.name.enhancedshuttleslocation" value="LOCATIONID" />
    <add key="enhancedshuttlesmessage.node.name.enhancedshuttlesshuttlestate" value="SHUTTLESTATE" />
    <add key="enhancedshuttlesmessage.xpath.name.enhancedshuttles" value="/MESSAGE/DATA/*/ENHANCEDSHUTTLES | /MESSAGE/DATA//ENHANCEDSHUTTLES" />
    <add key="enhancedshuttlesmessage.xpath.name.enhancedshuttlesliftername" value="/MESSAGE/DATA//ENHANCEDSHUTTLES/*/LIFTERNAME | /MESSAGE/DATA//ENHANCEDSHUTTLES//LIFTERNAME" />
    <add key="enhancedshuttlesmessage.xpath.name.enhancedshuttlesshuttlename" value="/MESSAGE/DATA//ENHANCEDSHUTTLES/*/SHUTTLEID | /MESSAGE/DATA//ENHANCEDSHUTTLES//SHUTTLEID" />
    <add key="enhancedshuttlesmessage.xpath.name.enhancedshuttleslocation" value="/MESSAGE/DATA//ENHANCEDSHUTTLES/*/LOCATIONID | /MESSAGE/DATA//ENHANCEDSHUTTLES//LOCATIONID" />
    <add key="enhancedshuttlesmessage.xpath.name.enhancedshuttlesshuttlestate" value="/MESSAGE/DATA//ENHANCEDSHUTTLES/*/SHUTTLESTATE | /MESSAGE/DATA//ENHANCEDSHUTTLES//SHUTTLESTATE" />
    <!--//# currentPortTransferStatesMessage-->
    <add key="currentporttransferstatesmessage.node.name.currentporttransferstates" value="CURRENTPORTSTATES" />
    <add key="currentporttransferstatesmessage.node.name.currentporttransferstatesportinfo" value="PORTINFO" />
    <add key="currentporttransferstatesmessage.node.name.currentporttransferstatesportinfoportid" value="PORTID" />
    <add key="currentporttransferstatesmessage.node.name.currentporttransferstatesportinfoporttransferstate" value="PORTTRANSFERSTATE" />
    <add key="currentporttransferstatesmessage.xpath.name.currentporttransferstates" value="/MESSAGE/DATA//CURRENTPORTSTATES" />
    <add key="currentporttransferstatesmessage.xpath.name.currentporttransferstatesportinfo" value="/MESSAGE/DATA//CURRENTPORTSTATES/PORTINFO" />
    <add key="currentporttransferstatesmessage.xpath.name.currentporttransferstatesportinfoportid" value="/MESSAGE/DATA//PORTINFO/PORTID" />
    <add key="currentporttransferstatesmessage.xpath.name.currentporttransferstatesportinfoporttransferstate" value="/MESSAGE/DATA//PORTINFO/PORTTRANSFERSTATE" />
    <!--//# enhancedControlStateMessage-->
    <add key="enhancedcontrolstatemessage.node.name.enhancedcontrolstate" value="CONTROLSTATE" />
    <add key="enhancedcontrolstatemessage.xpath.name.enhancedcontrolstate" value="/MESSAGE/DATA/*/*/CONTROLSTATE | /MESSAGE/DATA//CONTROLSTATE" />
    <!--//# enhancedCraneStateMessage-->
    <add key="enhancedcranestatemessage.node.name.enhancedcranestates" value="ENHANCEDCRANESTATES" />
    <add key="enhancedcranestatemessage.node.name.enhancedcranestatesstockercraneid" value="STOCKERCRANEID" />
    <add key="enhancedcranestatemessage.node.name.enhancedcranestatescranestate" value="CRANESTATE" />
    <add key="enhancedcranestatemessage.xpath.name.enhancedcranestates" value="/MESSAGE/DATA/*/*/ENHANCEDCRANESTATES | /MESSAGE/DATA//ENHANCEDCRANESTATES | /MESSAGE/DATA//CRANELIST" />
    <add key="enhancedcranestatemessage.xpath.name.enhancedcranestatesstockercraneid" value="/MESSAGE/DATA//CRANELIST//STOCKERCRANEID | /MESSAGE/DATA/*/*/ENHANCEDCRANESTATES/STOCKERCRANEID | /MESSAGE/DATA/*/*/ENHANCEDCRANESTATES/*/STOCKERCRANEID" />
    <add key="enhancedcranestatemessage.xpath.name.enhancedcranestatescranestate" value="/MESSAGE/DATA//CRANELIST//CRANESTATE | /MESSAGE/DATA/*/*/ENHANCEDCRANESTATES/CRANESTATE | /MESSAGE/DATA/*/*/ENHANCEDCRANESTATES/*/CRANESTATE" />
    <!--//# enhancedStockerStatusMessage-->
    <add key="enhancedstockerstatusmessage.node.name.EnhancedStockerStatus" value="STOCKERSTATUS" />
    <add key="enhancedstockerstatusmessage.node.name.EnhancedStockerStatusMachineName" value="EQPNAME" />
    <add key="enhancedstockerstatusmessage.node.name.EnhancedStockerStatusStockerState" value="STOCKERSTATE" />
    <add key="enhancedstockerstatusmessage.xpath.name.EnhancedStockerStatus" value="/MESSAGE/DATA/*/STOCKERSTATUS | /MESSAGE/DATA//STOCKERSTATUS | /MESSAGE/DATA//ENHANCEDSTOCKERSTATUS" />
    <add key="enhancedstockerstatusmessage.xpath.name.EnhancedStockerStatusMachineName" value="/MESSAGE/DATA//STOCKERSTATUS/EQPNAME" />
    <add key="enhancedstockerstatusmessage.xpath.name.EnhancedStockerStatusStockerState" value="/MESSAGE/DATA//STOCKERSTATUS/STOCKERSTATE" />
  </Destination>
</configuration>
