<?xml version = "1.0" encoding = "utf-8" ?>
<hibernate-configuration xmlns = "urn:nhibernate-configuration-2.2">
  <session-factory>

    <!--property name = "connection.connection_string">
      Data Source=OA-043148\SQLEXPRESS;Initial Catalog=MB3ACS23;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False

    </property-->
    <!-- SQLite -->
    <property name = "connection.driver_class"> ACS.Database.MicrosoftDataSqliteDriver, ACS.Database </property>
    <property name = "dialect"> NHibernate.Dialect.SQLiteDialect </property>
    <!-- MSSQL (주석 처리) -->
    <!--<property name = "connection.driver_class"> NHibernate.Driver.SqlClientDriver </property>-->
    <!--<property name = "dialect"> NHibernate.Dialect.MsSql2008Dialect </property>-->
    
    <mapping assembly = "ACS.Database"/>
    
  </session-factory>
  
</hibernate-configuration>

